In [32]:
import pandas as pd
import mysql.connector as mysql

In [33]:
df = pd.read_csv('data/new_data.csv')

In [34]:
mydb = mysql.connect(
    host="localhost",
    user="projekku",
    password="1234",
    database="testing"
)

mycursor = mydb.cursor()

mycursor.execute("show tables")

for x in mycursor:
    print(x)

('wisata',)

In [35]:
df.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating
0,1.0,Taman Pintar Yogyakarta,Taman Pintar Yogyakarta (bahasa Jawa: Hanacara...,Taman Hiburan,Yogyakarta,6000.0,2.0
1,2.0,Keraton Yogyakarta,Keraton Ngayogyakarta Hadiningrat atau Keraton...,Budaya,Yogyakarta,15000.0,3.0
2,3.0,Sindu Kusuma Edupark (SKE),Sindu Kusuma Edupark (SKE) merupakan sebuah de...,Taman Hiburan,Yogyakarta,20000.0,1.0
3,4.0,Museum Benteng Vredeburg Yogyakarta,Museum Benteng Vredeburg (bahasa Jawa: ꦩꦸꦱꦶꦪꦸꦩ...,Budaya,Yogyakarta,3000.0,3.0
4,5.0,De Mata Museum Jogja,Museum De Mata merupakan salah satu museum yan...,Budaya,Yogyakarta,50000.0,2.0

In [36]:
# rename column csv file

df = df.rename(columns={"Place_Id": "idWisata", 
                    "Place_Name": "namaWisata",
                    "Description": "deskripsiWisata",
                    "City": "lokasiWisata",
                    "Category": "kategoriWisata",
                    "Price": "hargaTiket",})



df.head(5)

,idWisata,namaWisata,deskripsiWisata,kategoriWisata,lokasiWisata,hargaTiket,Rating
0,1.0,Taman Pintar Yogyakarta,Taman Pintar Yogyakarta (bahasa Jawa: Hanacara...,Taman Hiburan,Yogyakarta,6000.0,2.0
1,2.0,Keraton Yogyakarta,Keraton Ngayogyakarta Hadiningrat atau Keraton...,Budaya,Yogyakarta,15000.0,3.0
2,3.0,Sindu Kusuma Edupark (SKE),Sindu Kusuma Edupark (SKE) merupakan sebuah de...,Taman Hiburan,Yogyakarta,20000.0,1.0
3,4.0,Museum Benteng Vredeburg Yogyakarta,Museum Benteng Vredeburg (bahasa Jawa: ꦩꦸꦱꦶꦪꦸꦩ...,Budaya,Yogyakarta,3000.0,3.0
4,5.0,De Mata Museum Jogja,Museum De Mata merupakan salah satu museum yan...,Budaya,Yogyakarta,50000.0,2.0

In [37]:
# idWisata as primary key

# create table in database

mycursor.execute("CREATE TABLE wisata (idWisata INT PRIMARY KEY, namaWisata VARCHAR(255), deskripsiWisata text, lokasiWisata VARCHAR(255), kategoriWisata VARCHAR(255), hargaTiket INT)")

ProgrammingError: 1050 (42S01): Table 'wisata' already exists